
.depicter-revert.depicter-17 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-17-element-9{
	border-width:2px 2px 2px 2px;
	border-style:solid;
	border-color:#000;
	border-radius:50% 50% 50% 50%;
}
.depicter-17-element-9 .depicter-arrow-icon{
	fill:#000;
}
.depicter-17-element-10 .depicter-bullet-item{
	background-color:rgba(0,0,0,0.5);
	border-radius:5px 5px 5px 5px ;
	margin-right:5px;
	width:9px;
	height:9px;
}
.depicter-17-element-10 .depicter-bullet-item.depicter-bullet-active{
	background-color:rgba(0,0,0,1);
}
.depicter-revert .depicter-17-element-11{
	border-width:2px 2px 2px 2px;
	border-style:solid;
	border-color:#000;
	border-radius:50% 50% 50% 50%;
}
.depicter-17-element-11 .depicter-arrow-icon{
	fill:#000;
}
.depicter-revert .depicter-17-element-18{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Roboto";
	font-weight:100;
	background-color:#013769;
	border-radius:6px;
}
.depicter-revert .depicter-17-element-18:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-17-element-12{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-17-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-17-element-19{
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Roboto";
	font-weight:100;
	background-color:#013769;
	border-radius:6px;
}
.depicter-revert .depicter-17-element-19:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-17-element-16{
	font-size:34px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-17-section-14 .depicter-section-background{
	background-color:#FFF;
}

/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-17-section-14 .depicter-section-background{
	background-color:#f2f2f2;
}

}
