:root {
    --theme: #DA2128;
    --color: #07080D;
    --text: #FAF1DF;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Top Bar */
.top-bar { background-color: var(--theme); padding: 8px 0 ; }
.top-bar .list-items .list-item{display: inline-block;color: var(--text); margin-left: 12px;}
.top-bar .list-items .list-item .list-link{ display: flex; align-items: center; gap: 8px}
.top-bar .list-items .list-item .list-link .icon{ display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; position: relative;}
.top-bar .list-items .list-item .list-link .icon::before{ width: 100%; height: 100%; position: absolute; content: ''; border-radius: 8px; border: 1px solid var(--text); transform: rotate(-45deg);}

.headerbox{ background-color: var(--text);}